<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<button id="get">获取任务列表</button>
	<button id="login">登陆</button>
	<button id="newtask">下发任务</button>
	<button id="completetask">完成任务</button>
	
	<script src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		$("#get").click(function(){
			$.ajax({
				url: "http://"+window.location.host+"/PopulationInspect/task/Task_list",
				type: 'POST',
				data:{"policeId":"b111111"},
				dataType: 'JSON',					//数据类型
				async: true,						//是否异步，为false时锁定浏览器，请求完成前不进行其他操作
				context: document.body,				//这个对象用于设置Ajax相关回调函数的上下文		
				beforeSend: function(xhr) {			//请求发送前的回调函数，可修改 XMLHttpRequest 对象，如添加自定义 HTTP 头。
					xhr.overrideMimeType("text/plain; charset=UTF-8");
				},
				//请求失败回调函数
				error: function() {
					console.log('局部事件error请求失败时调用此函数');
				},
				//请求成功回调函数
				success: function(data) {
					console.log(data);
				},
				//请求完成后回调函数 (请求success 和 error之后均调用)
				complete: function() {
					console.log('局部事件complete');
				},
			})
		})
		
		$("#login").click(function(){
			$.ajax({
				url: "http://"+window.location.host+"/PopulationInspect/task/myLogin",
				type: 'POST',
				data:{"username":"b111111","password":"111"},
				dataType: 'JSON',					//数据类型
				async: true,						//是否异步，为false时锁定浏览器，请求完成前不进行其他操作
				context: document.body,				//这个对象用于设置Ajax相关回调函数的上下文		
				beforeSend: function(xhr) {			//请求发送前的回调函数，可修改 XMLHttpRequest 对象，如添加自定义 HTTP 头。
					xhr.overrideMimeType("text/plain; charset=UTF-8");
				},
				//请求失败回调函数
				error: function() {
					console.log('局部事件error请求失败时调用此函数');
				},
				//请求成功回调函数
				success: function(data) {
					console.log(data);
				},
				//请求完成后回调函数 (请求success 和 error之后均调用)
				complete: function() {
					console.log('局部事件complete');
				},
			})
		})
		
		$("#newtask").click(function(){
			var data = '[{"policeId":"c111111","longitude":120.111,"latitude":120.111,"deadLine":"2013-1-1","community":"东岸家园","room":"6南511","type":"统计","content":"任务内容"},{"policeId":"c111111","longitude":120.111,"latitude":120.111,"deadLine":"2013-1-1","community":"东岸家园","room":"6南511","type":"统计","content":"任务内容"},{"policeId":"c111111","longitude":120.111,"latitude":120.111,"deadLine":"2013-1-1","community":"东岸家园","room":"6南511","type":"统计","content":"任务内容"}]';
			$.ajax({
				url: "http://"+window.location.host+"/PopulationInspect/task/Task_add",
				type: 'POST',
				dataType: 'JSON',					//数据类型
				data:{"data":data},
				async: true,						//是否异步，为false时锁定浏览器，请求完成前不进行其他操作
				context: document.body,				//这个对象用于设置Ajax相关回调函数的上下文		
				beforeSend: function(xhr) {			//请求发送前的回调函数，可修改 XMLHttpRequest 对象，如添加自定义 HTTP 头。
					xhr.overrideMimeType("text/plain; charset=UTF-8");
				},
				//请求失败回调函数
				error: function() {
					console.log('局部事件error请求失败时调用此函数');
				},
				//请求成功回调函数
				success: function(data) {
					console.log(data);
				},
				//请求完成后回调函数 (请求success 和 error之后均调用)
				complete: function() {
					console.log('局部事件complete');
				},
			})
		})
		
		$("#completetask").click(function(){
			$.ajax({
				url: "http://"+window.location.host+"/PopulationInspect/task/Task_complete",
				type: 'get',
				dataType: 'JSON',					//数据类型
				async: true,						//是否异步，为false时锁定浏览器，请求完成前不进行其他操作
				context: document.body,				//这个对象用于设置Ajax相关回调函数的上下文		
				beforeSend: function(xhr) {			//请求发送前的回调函数，可修改 XMLHttpRequest 对象，如添加自定义 HTTP 头。
					xhr.overrideMimeType("text/plain; charset=UTF-8");
				},
				//请求失败回调函数
				error: function() {
					console.log('局部事件error请求失败时调用此函数');
				},
				//请求成功回调函数
				success: function(data) {
					console.log(data);
				},
				//请求完成后回调函数 (请求success 和 error之后均调用)
				complete: function() {
					console.log('局部事件complete');
				},
			})
		})
	</script>
</body>
</html>