<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
    <bean id="aspectConfig" class="com.lmr.spring.aop.advice.AspectConfig"></bean>
    <bean id="adviceService" class="com.lmr.spring.aop.advice.AdviceService"></bean>
    
    <aop:config>
    	<aop:aspect id="aspectAOP" ref="aspectConfig">
    		<aop:pointcut expression="execution(* com.lmr.spring.aop.advice.AdviceService.*(..))" id="adviceServicePointCut"/>
    		
<!--     		<aop:before method="before" pointcut-ref="adviceServicePointCut"/> -->
<!--     		<aop:after-returning method="afterReturning" pointcut-ref="adviceServicePointCut"/> -->
<!--     		<aop:after-throwing method="afterThrowing" pointcut-ref="adviceServicePointCut"/> -->
<!--     		<aop:after method="after" pointcut-ref="adviceServicePointCut"/> -->
    		
<!--     		<aop:around method="around" pointcut-ref="adviceServicePointCut"/> -->
    		
<!--     		<aop:around method="aroundParameter" pointcut="execution(* com.lmr.spring.aop.advice.AdviceService.sayParameter(String, int)) and args(name, count)"/> -->
    		
    		<aop:declare-parents types-matching="com.lmr.spring.aop.advice.AdviceService+" implement-interface="com.lmr.spring.aop.advice.Filter" default-impl="com.lmr.spring.aop.advice.FilterImpl"/>
    		
    	</aop:aspect>
    	
<!--     	<aop:aspect id="aspectAOP2" ref="aspectConfig"> -->
<!--     		<aop:pointcut expression="execution(* com.lmr.spring.aop.advice.AdviceService.*(..))" id="adviceServicePointCut"/> -->
    		
<!--     		<aop:before method="before2" pointcut-ref="adviceServicePointCut"/> -->
<!--     		<aop:after-returning method="afterReturning" pointcut-ref="adviceServicePointCut"/> -->
<!--     		<aop:after-throwing method="afterThrowing" pointcut-ref="adviceServicePointCut"/> -->
<!--     		<aop:after method="after2" pointcut-ref="adviceServicePointCut"/> -->
    		
<!--     		<aop:around method="around" pointcut-ref="adviceServicePointCut"/> -->
    		
<!--     		<aop:around method="aroundParameter" pointcut="execution(* com.lmr.spring.aop.advice.AdviceService.sayParameter(String, int)) and args(name, count)"/> -->
    		
<!--     	</aop:aspect> -->
    </aop:config>

</beans>